.popup {
  display: none;
  position: fixed;
  z-index: 100;
  left: 17em;
  top: 7em;
  width: 62em;
  height: 32rem;
  padding: 20px;
  background-color: var(--cor-branca);
  border: 3px solid var(--cor-vinhoClaro);
  border-radius: 14px;
  /* box-shadow: 2px 5px 10px black; */
}

.popup-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__container-formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59em;
  height: 28em;
  gap: 90px;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  max-width: 100%;
  height: auto;
}

.col-md-4 {
  flex: 0 0 auto;
  width: 30%;
}

.formularioImagem {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formularioImagem img {
    max-width: 260px;
    max-height: 345px;
    width: auto;
    height: auto;
}

.popup__button-adicionar {
  border: none;
  border-radius: 5px;
  background-color: var(--cor-vinhoClaro);
  padding: 0.5em 4.55em;
  color: var(--cor-branca);
}

.popup__form-button {
  border: none;
  border-radius: 5px;
  background-color: var(--cor-vinhoClaro);
  padding: 0.5em 4.55em;
  color: var(--cor-branca);
  position: fixed;
  left: 22em;
}

.popup__form-button [type="file"] {
  cursor: pointer;
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  left: 0em;
  bottom: 0em;
  width: 19.5em;
  height: 2.67em;
}
.container-labels{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.popup__form-input {
  width: 38em;
  height: 2em;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--cor-vinhoClaro);
}
figcaption {
  text-align: center;
  margin: 3px auto;
}

.fileContainer {
  overflow: hidden;
  position: relative;
}

.fileContainer [type="file"] {
  cursor: pointer;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

/* O botão de fechar (x) */
.close-popup {
  color: #000000;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  bottom: 1rem;
  cursor: pointer;
}
